* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

.container {
  width: 100%;
}

.row-1 {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.row-1 .col-laptop-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/span 4;
  background-color: #ffffff;
  padding: 6px;
}

.row-1 .col-laptop-4 .box-logo .logo {
  font-size: 30px;
  font-family: Impact, Haettenschweiler,  'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 1px 1px #777777;
  padding-left: 80px;
  color: #292727;
}

.row-1 .col-laptop-4 .box-logo .text-logo {
  padding-left: 80px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: .1px .1px 2px #1f1e1e;
  color: #a69d9d;
  margin-top: -3px;
}

.row-1 .col-laptop-8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/span 8;
  background-color: #333131;
  list-style: inside;
}

.row-1 .col-laptop-8 .fa-times {
  display: none;
  color: #ffffff;
  font-size: 28px;
  margin: 15px;
  cursor: pointer;
}

.row-1 .col-laptop-8 .fa-times:hover {
  color: #bdb5b5;
}

.row-1 .col-laptop-8 .menu li {
  display: inline-block;
  padding: 18px;
}

.row-1 .col-laptop-8 .menu li a {
  color: #a6a4a4;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.row-1 .col-laptop-8 .menu li a:hover {
  color: #ffffff;
  text-shadow: .1px .1px 1px #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .row-1 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .row-1 .col-phone-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/span 7;
    background-color: #ffffff;
  }
  .row-1 .col-phone-1 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 8;
    grid-column: 8/span 8;
    background-color: #292727;
  }
  .row-1 .col-phone-1 .btn-menu {
    width: 40px;
    height: 40px;
    margin: 8px 0 0 7px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: pointer;
  }
  .row-1 .col-phone-1 .btn-menu span {
    border: 1px solid #ffffff;
    margin-right: 8px;
    padding: 4px 0;
    position: relative;
    top: 11px;
    left: 11px;
  }
  .row-1 .col-phone-1 .menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .row-1 .col-phone-1 .menu li {
    list-style: none;
    padding-bottom: 40px;
    display: block;
  }
  .row-1 .col-phone-1 .menu li a {
    color: #a6a4a4;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .row-1 .col-phone-1 .menu li a:hover {
    font-size: 18px;
    text-shadow: 1px 1px 4px #ffffff;
    color: #ffffff;
  }
}

@media only screen and (min-width: 480px) and (max-width: 736px) {
  .row-1 {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .row-1 .col-phone-11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/span 11;
    background-color: #ffffff;
  }
  .row-1 .col-phone-1 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 12;
    grid-column: 12/span 12;
    background-color: #292727;
  }
  .row-1 .col-phone-1 .btn-menu {
    width: 40px;
    height: 40px;
    margin: 8px 0 0 7px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: pointer;
  }
  .row-1 .col-phone-1 .btn-menu span {
    border: 1px solid #ffffff;
    margin-right: 8px;
    padding: 4px 0;
    position: relative;
    top: 18px;
    left: 9px;
  }
  .row-1 .col-phone-1 .menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .row-1 .col-phone-1 .menu li {
    list-style: none;
    padding-bottom: 40px;
    display: block;
  }
  .row-1 .col-phone-1 .menu li a {
    color: #a6a4a4;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .row-1 .col-phone-1 .menu li a:hover {
    font-size: 18px;
    text-shadow: 1px 1px 4px #ffffff;
    color: #ffffff;
  }
}

@media only screen and (min-width: 736px) and (max-width: 992px) {
  .row-1 {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .row-1 .col-tablets-11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/span 11;
    background-color: #ffffff;
  }
  .row-1 .col-tablets-1 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 12;
    grid-column: 12/span 12;
    background-color: #292727;
  }
  .row-1 .col-tablets-1 .btn-menu {
    width: 40px;
    height: 40px;
    margin: 8px 0 0 7px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: pointer;
  }
  .row-1 .col-tablets-1 .btn-menu span {
    border: 1px solid #ffffff;
    margin-right: 8px;
    padding: 8px 0;
    position: relative;
    top: -1px;
    left: 10px;
  }
  .row-1 .col-tablets-1 .menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .row-1 .col-tablets-1 .menu li {
    list-style: none;
    padding-bottom: 40px;
    display: block;
  }
  .row-1 .col-tablets-1 .menu li a {
    color: #a6a4a4;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .row-1 .col-tablets-1 .menu li a:hover {
    font-size: 18px;
    text-shadow: 1px 1px 4px #ffffff;
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */