*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}
.container {
    width: 100%;
}

// Menu
.row-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 25px #181717;
    z-index: 999;
    .col-laptop-4 {
        grid-column: 1/span 4;
        .box-logo {
            position: relative;
            top: 0;
            left: 100px;
            padding: 5px;
            .logo {
                font-size: 38px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                letter-spacing: 1px;
                text-shadow: 1px 1.5px 4px #111111;
                color: #202022;
            }
            .text-logo {
                font-size: 10px;
                color: #202022;
                text-shadow: .1px .1px 2px #111111;
                text-transform: uppercase;
                word-spacing: 1.5px;
                margin-top: -5px;
                margin-left: 15px;
            }
        }   
    }
    .col-laptop-8 {
        grid-column: 5/span 8;
        background-color: #111111;
        .close {
            display: none;
        }
        .nav {
            position: relative;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
            display: block;
            li {
                list-style: inside;
                list-style: none;
                display: inline-block;
                border: 1px solid #ffffff;
                width: 100px;
                text-align: center;
                padding: 5px;
                margin-right: 40px;
                border-radius: 2px;
                position: relative;
                .arrow {
                    border: 1px solid #ffffff;
                    width: 12px;
                    height: 12px;
                    transform: rotate(45deg);
                    background-color: #ffffff;
                    position: absolute;
                    top: 26px;
                    left: 20px;              
                }
                .nav-child {
                    position: absolute;
                    background-color: #111111;
                    top: 10px;
                    left: 10px;
                    transform: translateY(10%);
                    width: 300px;
                    height: 200px;
                    li {
                        margin: 5px 0 15px 38px;
                        display: block;
                        position: relative;
                        top: 15px;
                    }
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                }
                .n {
                    display: none;
                }
            }

        }
    }
}
// slide 
.row-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    position: absolute;
    .col-laptop-12 {
        grid-column: 1/span 12;
        .container-slide {
            height: 100vh;
            position: absolute;
            z-index: -99;
            .slide {
                height: inherit;
                img {
                   width: 100%;
                   height: 100%;
                }
                .box {
                   width: 200px;
                   height: 200px;
                   position: absolute;
                   top: 150px;
                   left: 150px;
                }
                .box.frame1 {
                   transform: rotate(45deg) translate(0, 0);
                   background-color: #ffffff;
                   opacity: .6;
                   box-shadow: .1px .1px 3px #111111;
                }
                .box.frame2 {
                   transform: rotate(45deg) translate(50px, -100px);
                   left: -10px;
                   top: 180px;
                   background-color: #111111;
                   opacity: .8;
                }
                .logo {
                    position: absolute;
                    top: 35%;
                    left: 11%;
                    font-size: 50px;
                    letter-spacing: 1px;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    padding-left: 4px;
                    text-shadow: 1px 1.5px 4px #111111;
                }
                .text {
                    position: absolute;
                    top: 47%;
                    left: 10%;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    text-shadow: .2px .2px 2px #ffffff;
                    font-size: 16px;
                    color: #111111;
                    font-weight: bold;
                }
            }
            .btn-join {
                position: absolute;
                top: 70%;
                left: 28%;
                transform: translate(-50%, -50%);
                padding: 15px 40px;
                text-decoration: none;
                font-size: 22px;
                text-shadow: .2px .2px 2px #ffffff;
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff;
                background-color: #f10b0b;
                border-radius: 4px;
                text-transform: uppercase;
                box-shadow: 4px 3px 5px #111111;
            }
            .btn-join:focus {
               border: 2px solid #ffffff;
               padding: 12px 35px;
            }
            .btn-join:hover {
                border: 2px solid #ffffff;
                padding: 12px 35px;
                font-size: 18px;
            }
            .dots {
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                .dot {
                    display: block;
                    margin: 5px;
                    border: 1px solid #303030;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }
                .dot.active {
                    background-color: #3f3b3b;
                    opacity: .6;
                }
            }
        }
    }
}


// Tablets 
@media only screen and (max-width: 1090px){
    // menu
    .row-1 {
        .col-tablets-8 {
            grid-column: 1/span 8;
            .box-logo {
                left: 60px;   
            }
        }
        .col-tablets-4 {
            grid-column: 9/span 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #ffffff;
            .box-onMenu {
                width: 50px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                span {
                    display: block;
                    border-top: 4px solid #111111;
                    width: 30px;
                    height: 1px;
                    margin-bottom: 5px;
                }
            }
            .close {
                background-color: #ffffff;
                position: absolute;
                width: 35px;
                height: 35px;
                top: 72px;
                right: 2px;
                display: none;
            }
            .nav {
                display: none;
                position: absolute;
                top: 0px;
                transform: translateY(50%);
                z-index: -99;
                li {
                    display: block;
                    margin-bottom: 20px;
                    width: 120px;
                    padding: 10px;
                    .n {
                        display: none;
                    }
                    .arrow {
                        left: 160px;
                        top: 20px;
                    }
                    .nav-child {
                        position: absolute;
                        left: 165px;
                        top: -20px;
                        height: 255px;
                        width: 220px;
                        li {
                            top: 10px;
                        }
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .row-2 {
        .col-tablets-12 {
            .container-slide {
                .slide {
                    .text {
                        position: absolute;
                        top: 45%;
                        left: 5%;
                    }
                }
                .btn-join {
                    position: absolute;
                    top: 62%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

// -----------------------------------------

@media screen and (max-width: 736px) {
    .row-2 {
        .col-tablets-12 {
            .container-slide {
                .slide {
                    .logo-tablets {
                        position: absolute;
                        left: 25%;
                        top: 35%;
                    }
                    .text-tablets {
                        padding: 6px;
                        position: absolute;
                        top: 45%;
                        left: 2%;
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .btn-join-tablets {
                    position: absolute;
                    top: 69%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .row-2 {
        .col-tablets-12 {
            .container-slide {
                .slide {
                    .box {
                        display: none;
                    }
                    .logo-tablets {
                        display: none;
                    }
                }
            }
        }
    }
}
//-------------------------------------------------------------

// Phone 
@media only screen and (max-width: 420px) {
    // menu
    .row-1 {
        grid-template-columns: repeat(8, 1fr);
        .col-phone-6 {
            grid-column: 1/span 6;
            .box-logo {
                left: 20px;
            }
        }
        .col-phone-2 {
            grid-column: 7/span 8;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #ffffff;
            .box-onMenu {
                width: 50px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
                span {
                    display: block;
                    border-top: 4px solid #111111;
                    width: 30px;
                    height: 1px;
                    margin-bottom: 5px;
                }
            }
            .close {
                background-color: #ffffff;
                position: absolute;
                width: 26px;
                height: 26px;
                top: 72px;
                right: 2px;
                display: none;
            }
            .nav {
                display: none;
                position: absolute;
                top: 0;
                transform: translateY(50%);
                li {
                    display: block;
                    margin-bottom: 20px;
                    padding: 5px;
                    width: 100px;
                    .arrow {
                        left: 125px;
                        top: 15px;
                    }
                    .nav-child {
                        position: absolute;
                        left: 130px;
                        top: -20px;
                        height: 200px;
                        width: 160px;
                        li{
                            margin-left: 20px;
                        }
                    }
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .row-2 {
        grid-template-columns: repeat(8, 1fr);
        .col-phone-8 {
            grid-column: 1/span 8;
            .container-slide {
               .slide {
                   .text-phone {
                       position: absolute;
                       top: 30%;
                       left: 2%;
                       p {
                        font-size: 12px;
                       }
                   }
               }
               .btn-join-phone {
                   padding: 12px;
                   top: 55%;
               }
               .dots {
                   display: none;
               }
            }
        }
    }
}

