* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
}
.container {
    width: 100%;
}
.row-1 {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .col-laptop-4 {
        grid-column: 1/span 4;
        background-color: #ffffff;
        padding: 6px;
        .box-logo {
            .logo {
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 
                'Arial Narrow Bold', sans-serif;
                letter-spacing: 2px;
                text-shadow: 2px 1px 1px #777777;
                padding-left: 80px;
                color: #292727;
            }
            .text-logo {
                padding-left: 80px;
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: .1px .1px 2px #1f1e1e;
                color: #a69d9d;
                margin-top: -3px;
            }
        }
    }
    .col-laptop-8 {
        grid-column: 5/span 8;
        background-color: #333131;
        list-style: inside;
        .fa-times {
            display: none;
            color: #ffffff;
            font-size: 28px;
            margin: 15px;
            cursor: pointer;
        }
        .fa-times:hover {
            color: #bdb5b5;
        }
        .menu {
            li {
                display: inline-block;
                padding: 18px;
                a {
                    color: #a6a4a4;
                    text-decoration: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    transition: .5s;
                }
                a:hover {
                    color: #ffffff;
                    text-shadow: .1px .1px 1px #ffffff;
                }
            }
        }
    }
}

// Phone 
@media only screen 
and (min-width: 320px)
and (max-width: 480px) {
    .row-1 {
        grid-template-columns: repeat(8, 1fr);
        .col-phone-7 {
            grid-column: 1/span 7;
            background-color: #ffffff;
        }
        .col-phone-1 {
            grid-column: 8/span 8;
            background-color: #292727;
            .btn-menu {
                width: 40px;
                height: 40px;
                margin: 8px 0 0 7px;
                transform: rotate(90deg);
                cursor: pointer;
                span {
                    border: 1px solid #ffffff;
                    margin-right: 8px;
                    padding: 4px 0;
                    position: relative;
                    top: 11px;
                    left: 11px;
                }
            }
            .menu {
               display: none;
               position: absolute;
               top: 50%;
               left: 40%;
               transform: translate(-50%, -50%);
               li {
                   list-style: none;
                   padding-bottom: 40px;
                   display: block;
                   a{
                       color: #a6a4a4;
                       text-decoration: none;
                       font-size: 25px;
                       font-family: Arial, Helvetica, sans-serif;
                       text-transform: uppercase;
                       transition: 1s;
                   }
                   a:hover {
                       font-size: 18px;
                       text-shadow: 1px 1px 4px #ffffff;
                       color: #ffffff;
                   }
               }
            }
        }
    }
}


// Phone 
@media only screen 
and (min-width: 480px) 
and (max-width: 736px) {
    .row-1 {
        grid-template-columns: repeat(12, 1fr);
        .col-phone-11{
            grid-column: 1/span 11;
            background-color: #ffffff;
        }
        .col-phone-1 {
            grid-column: 12/span 12;
            background-color: #292727;
            .btn-menu {
                width: 40px;
                height: 40px;
                margin: 8px 0 0 7px;
                transform: rotate(90deg);
                cursor: pointer;
                span {
                    border: 1px solid #ffffff;
                    margin-right: 8px;
                    padding: 4px 0;
                    position: relative;
                    top: 18px;
                    left: 9px;
                }
            }
            .menu {
                display: none;
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
                li {
                    list-style: none;
                    padding-bottom: 40px;
                    display: block;
                    a{
                        color: #a6a4a4;
                        text-decoration: none;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-transform: uppercase;
                        transition: 1s;
                    }
                    a:hover {
                        font-size: 18px;
                        text-shadow: 1px 1px 4px #ffffff;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

// Tablets 
@media only screen 
and (min-width: 736px) 
and (max-width: 992px) {
    .row-1 {
        grid-template-columns: repeat(12, 1fr);
        .col-tablets-11{
            grid-column: 1/span 11;
            background-color: #ffffff;
        }
        .col-tablets-1 {
            grid-column: 12/span 12;
            background-color: #292727;
            .btn-menu {
                width: 40px;
                height: 40px;
                margin: 8px 0 0 7px;
                transform: rotate(90deg);
                cursor: pointer;
                span {
                    border: 1px solid #ffffff;
                    margin-right: 8px;
                    padding: 8px 0;
                    position: relative;
                    top: -1px;
                    left: 10px;
                }
            }
            .menu {
                display: none;
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
                li {
                    list-style: none;
                    padding-bottom: 40px;
                    display: block;
                    a{
                        color: #a6a4a4;
                        text-decoration: none;
                        font-size: 25px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-transform: uppercase;
                        transition: 1s;
                    }
                    a:hover {
                        font-size: 18px;
                        text-shadow: 1px 1px 4px #ffffff;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

