* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
}

.row-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 25px #181717;
          box-shadow: 0 5px 25px #181717;
  z-index: 999;
}

.row-1 .col-laptop-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/span 4;
}

.row-1 .col-laptop-4 .box-logo {
  position: relative;
  top: 0;
  left: 100px;
  padding: 5px;
}

.row-1 .col-laptop-4 .box-logo .logo {
  font-size: 38px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1.5px 4px #111111;
  color: #202022;
}

.row-1 .col-laptop-4 .box-logo .text-logo {
  font-size: 10px;
  color: #202022;
  text-shadow: .1px .1px 2px #111111;
  text-transform: uppercase;
  word-spacing: 1.5px;
  margin-top: -5px;
  margin-left: 15px;
}

.row-1 .col-laptop-8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/span 8;
  background-color: #111111;
}

.row-1 .col-laptop-8 .close {
  display: none;
}

.row-1 .col-laptop-8 .nav {
  position: relative;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.row-1 .col-laptop-8 .nav li {
  list-style: inside;
  list-style: none;
  display: inline-block;
  border: 1px solid #ffffff;
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-right: 40px;
  border-radius: 2px;
  position: relative;
}

.row-1 .col-laptop-8 .nav li .arrow {
  border: 1px solid #ffffff;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  left: 20px;
}

.row-1 .col-laptop-8 .nav li .nav-child {
  position: absolute;
  background-color: #111111;
  top: 10px;
  left: 10px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  width: 300px;
  height: 200px;
}

.row-1 .col-laptop-8 .nav li .nav-child li {
  margin: 5px 0 15px 38px;
  display: block;
  position: relative;
  top: 15px;
}

.row-1 .col-laptop-8 .nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.row-1 .col-laptop-8 .nav li .n {
  display: none;
}

.row-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  width: 100%;
  position: absolute;
}

.row-2 .col-laptop-12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
}

.row-2 .col-laptop-12 .container-slide {
  height: 100vh;
  position: absolute;
  z-index: -99;
}

.row-2 .col-laptop-12 .container-slide .slide {
  height: inherit;
}

.row-2 .col-laptop-12 .container-slide .slide img {
  width: 100%;
  height: 100%;
}

.row-2 .col-laptop-12 .container-slide .slide .box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 150px;
}

.row-2 .col-laptop-12 .container-slide .slide .box.frame1 {
  -webkit-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0);
  background-color: #ffffff;
  opacity: .6;
  -webkit-box-shadow: .1px .1px 3px #111111;
          box-shadow: .1px .1px 3px #111111;
}

.row-2 .col-laptop-12 .container-slide .slide .box.frame2 {
  -webkit-transform: rotate(45deg) translate(50px, -100px);
          transform: rotate(45deg) translate(50px, -100px);
  left: -10px;
  top: 180px;
  background-color: #111111;
  opacity: .8;
}

.row-2 .col-laptop-12 .container-slide .slide .logo {
  position: absolute;
  top: 35%;
  left: 11%;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 4px;
  text-shadow: 1px 1.5px 4px #111111;
}

.row-2 .col-laptop-12 .container-slide .slide .text {
  position: absolute;
  top: 47%;
  left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: .2px .2px 2px #ffffff;
  font-size: 16px;
  color: #111111;
  font-weight: bold;
}

.row-2 .col-laptop-12 .container-slide .btn-join {
  position: absolute;
  top: 70%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 40px;
  text-decoration: none;
  font-size: 22px;
  text-shadow: .2px .2px 2px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #f10b0b;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 3px 5px #111111;
          box-shadow: 4px 3px 5px #111111;
}

.row-2 .col-laptop-12 .container-slide .btn-join:focus {
  border: 2px solid #ffffff;
  padding: 12px 35px;
}

.row-2 .col-laptop-12 .container-slide .btn-join:hover {
  border: 2px solid #ffffff;
  padding: 12px 35px;
  font-size: 18px;
}

.row-2 .col-laptop-12 .container-slide .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.row-2 .col-laptop-12 .container-slide .dots .dot {
  display: block;
  margin: 5px;
  border: 1px solid #303030;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.row-2 .col-laptop-12 .container-slide .dots .dot.active {
  background-color: #3f3b3b;
  opacity: .6;
}

@media only screen and (max-width: 1090px) {
  .row-1 .col-tablets-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/span 8;
  }
  .row-1 .col-tablets-8 .box-logo {
    left: 60px;
  }
  .row-1 .col-tablets-4 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/span 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  .row-1 .col-tablets-4 .box-onMenu {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .row-1 .col-tablets-4 .box-onMenu span {
    display: block;
    border-top: 4px solid #111111;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
  }
  .row-1 .col-tablets-4 .close {
    background-color: #ffffff;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 72px;
    right: 2px;
    display: none;
  }
  .row-1 .col-tablets-4 .nav {
    display: none;
    position: absolute;
    top: 0px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    z-index: -99;
  }
  .row-1 .col-tablets-4 .nav li {
    display: block;
    margin-bottom: 20px;
    width: 120px;
    padding: 10px;
  }
  .row-1 .col-tablets-4 .nav li .n {
    display: none;
  }
  .row-1 .col-tablets-4 .nav li .arrow {
    left: 160px;
    top: 20px;
  }
  .row-1 .col-tablets-4 .nav li .nav-child {
    position: absolute;
    left: 165px;
    top: -20px;
    height: 255px;
    width: 220px;
  }
  .row-1 .col-tablets-4 .nav li .nav-child li {
    top: 10px;
  }
  .row-1 .col-tablets-4 .nav li a {
    font-size: 20px;
  }
  .row-2 .col-tablets-12 .container-slide .slide .text {
    position: absolute;
    top: 45%;
    left: 5%;
  }
  .row-2 .col-tablets-12 .container-slide .btn-join {
    position: absolute;
    top: 62%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 736px) {
  .row-2 .col-tablets-12 .container-slide .slide .logo-tablets {
    position: absolute;
    left: 25%;
    top: 35%;
  }
  .row-2 .col-tablets-12 .container-slide .slide .text-tablets {
    padding: 6px;
    position: absolute;
    top: 45%;
    left: 2%;
  }
  .row-2 .col-tablets-12 .container-slide .slide .text-tablets p {
    font-size: 14px;
  }
  .row-2 .col-tablets-12 .container-slide .btn-join-tablets {
    position: absolute;
    top: 69%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 500px) {
  .row-2 .col-tablets-12 .container-slide .slide .box {
    display: none;
  }
  .row-2 .col-tablets-12 .container-slide .slide .logo-tablets {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .row-1 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .row-1 .col-phone-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/span 6;
  }
  .row-1 .col-phone-6 .box-logo {
    left: 20px;
  }
  .row-1 .col-phone-2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 8;
    grid-column: 7/span 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  .row-1 .col-phone-2 .box-onMenu {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  .row-1 .col-phone-2 .box-onMenu span {
    display: block;
    border-top: 4px solid #111111;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
  }
  .row-1 .col-phone-2 .close {
    background-color: #ffffff;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 72px;
    right: 2px;
    display: none;
  }
  .row-1 .col-phone-2 .nav {
    display: none;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .row-1 .col-phone-2 .nav li {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 100px;
  }
  .row-1 .col-phone-2 .nav li .arrow {
    left: 125px;
    top: 15px;
  }
  .row-1 .col-phone-2 .nav li .nav-child {
    position: absolute;
    left: 130px;
    top: -20px;
    height: 200px;
    width: 160px;
  }
  .row-1 .col-phone-2 .nav li .nav-child li {
    margin-left: 20px;
  }
  .row-1 .col-phone-2 .nav li a {
    font-size: 14px;
  }
  .row-2 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .row-2 .col-phone-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/span 8;
  }
  .row-2 .col-phone-8 .container-slide .slide .text-phone {
    position: absolute;
    top: 30%;
    left: 2%;
  }
  .row-2 .col-phone-8 .container-slide .slide .text-phone p {
    font-size: 12px;
  }
  .row-2 .col-phone-8 .container-slide .btn-join-phone {
    padding: 12px;
    top: 55%;
  }
  .row-2 .col-phone-8 .container-slide .dots {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */