.blog{
    width: 800px;
    margin-left: 220px;
    text-align: justify;
    background-color: $color-primary-light;
    color: $black-color;
    &__title{
        text-align: center;
        font-size: 700;
        font-size: 50px;
    }
    &__summary{
        
        width: 600px;
        margin-left: 70px;
        line-height: 30px;
        
    }
    &__body{
        
        width: 600px;
        margin-left: 70px;
        line-height: 30px;
        
    }
}
h5{
    font-size: 20px;
    font-weight: 900;
}
h4{
    font-size: 25px;
    font-weight: 900;
}