// variable color, font, ... defalut
$black: #111111;
$white: #ffffff;
$font-Defalut: Arial, Helvetica, sans-serif;

body {
    background-color: #e9e8e8;
}

.container {
    min-width: 100%;
}

// device large or equal 1200 pixel (desktop)

// logo and menu
.row-1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .col-xl-4 {
        // background-color: $white;
        padding-left: 50px;
        .logo {
            font-size: 4em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
            sans-serif;
            letter-spacing: 2px;
        }
        .text-logo {
            font-size: 10px;
            padding-left: 70px;
            text-shadow: .5px .2px 1px #000000;
            font-family: $font-Defalut;
        }
    }
    .col-xl-8 {
        // background-color: $white;
        .menu {
            li {
                display: inline-block;
                width: 160px;
                text-align: center;
                margin-left: 10px;
                padding: 22px;
                position: relative;
                .arrow-up {
                    position: relative;
                    color: $black;
                    top: 0;
                    left: 2px;
                    transform: rotate(0);
                    vertical-align: text-top;
                    transition: .5s;
                }
                .menu-child {
                    position: absolute;
                    left: -10px;
                    top: 61px;
                    display: none;
                    li{
                        display: block;
                        position: relative;
                        left: 0px;
                        top: 0;
                        padding: 18px;
                        a {
                            font-size: 14px;
                            text-shadow: .1px .1px 1px $black;
                        }
                    }
                }
                a{
                    color: $black;
                    text-decoration: none;
                    font-family: $font-Defalut;
                    text-transform: uppercase;
                    font-size: 18px;
                    text-shadow: .1px .1px 1px $black;
                }
            }
            li:hover > .menu-child {
                display: block;
                animation: menu-child .5s linear;
            }
            li:before {
                content: '';
                border-bottom: 2px solid;
                width: 0;
                height: 10px;
                position: absolute;
                top: 35px;
                left: 35px;
                transform-origin: center;
            }
            li:hover .arrow-up {
                transform: rotate(90deg);
            }
            li:after {
                content: '';
                border-bottom: 2px solid;
                width: 0;
                height: 10px;
                position: absolute;
                top: 35px;
                right: 35px;
                transform-origin: center;
            }
            li:hover:before {
                animation: solid-bottom .3s ease-in;
                width: 45px;
            }
            li:hover:after {
                animation: solid-bottom .3s ease-in;
                width: 45px;
            }
        }
    }    
}

@keyframes menu-child {
    from {
        opacity: 0;
        left: -50px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes solid-bottom {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 45px;
        opacity: 1;
    }
}

// banner slide 

.row-2 {
    overflow: hidden;
    .col-xl-12 {
        width: 100%;
        padding: 0;
        z-index: -99;
        .slide {
            height: 600px;
            width: inherit;
            img {
                width: 100%;
                height: 100%;
                opacity: .81;
            }
        }
        .dots {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 15px;
            right: 100px;
            z-index: 1;
            .dot {
                width: 13px;
                height: 13px;
                border: 1px solid $white;
                border-radius: 50%;
                margin: 0 10px;
            }
            .dot.active {
                background-color: $white;
            }
        }
        .content-center {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: hide-show 1.5s linear;
            .logo {
                font-size: 4.2em;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
                sans-serif;
                letter-spacing: 2px;
            }
            .slogan {
                font-family: 'Satisfy', cursive;
                padding-left: 35px;
                font-size: 32px;
            }
            .login {
                margin: 35px 0 0 150px;
                a {
                    padding: 20px 28px;
                    text-transform: uppercase;
                    border: none;
                    background-color: red;
                    border-radius: 4px;
                    color: $white;
                    font-family: $font-Defalut;
                    text-shadow: .1px .1px 3px $white;
                    font-size: 20px;
                    outline: none;
                    opacity: .9;
                    text-decoration: none;
                }
                a:focus {
                    opacity: .5;
                }
            }
        }
    }
}

@keyframes hide-show {
    from {
        opacity: 0;
        top: 40%;
    }
    to {
        opacity: 1;
    }
}

// Let us start your story 
.row-3 {
    background-color: $white;
    .col-xl-6.a{
        h2 {
            margin-top: 90px;
            padding-left: 10px;
            text-transform: uppercase;
            font-size: 30px;
            font-family: $font-Defalut;
        }
        p {
            padding-left: 40px;
            font-size: 18px;
            line-height: 30px;
            margin-top: 20px;
            font-family: $font-Defalut;
        }
    }
    .col-xl-6.b {
        width: 100%;
        img {
            width: 90%;
            height: 100%;
            position: relative;
            left: -100px;
            top: 20px;
            transition: 1s;
            opacity: 0;
        }
    }
}

// My picture trip 
.row-4 {
    height: 530px;
    .col-xl-6.a {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        .video {
            background-color: #c1c1c1;
            width: 452px;
            height: 300px;
            overflow: hidden;
            video {
                width: 100%;
                height: 100%;
            }
            .play {
                position: absolute;
                top: 50%;
                width: 60px;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    opacity: .6;
                }
                img:active {
                    opacity: 1;
                }
            }
        }
    }
    .col-xl-6.b {
        background-color: $white;
        h2 {
            font-family: $font-Defalut;
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 30px;
            padding-left: 20px;
        }
    }
    .frame-video {
        background-color: $black;
        width: 0px;
        height: 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 1s;
        z-index: 50;
        display: none;
        overflow: hidden;
        .close {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 1px 5px #a1a1a1;
            display: none;
            transition: 5s;
            z-index: 99;
            cursor: pointer;
            img {
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
        video {
            width: 100%;
            height: 100%;
        }
    }
}

// device larger or equal 992 pixel (laptop, desktop)

// device large or equal 768 pixel (tablets)

// device large or equal 576 pixel (phone)

// device less 576 pixel (phone)
