@font-face {
  src: url("./Resources/font/Lato-Regular.ttf");
  font-family: lato; }

body {
  color: #000;
  font-family: lato;
  font-size: 1em; }

body {
  background-color: #EFF4FD; }

header .row .col-xl-4 {
  display: flex;
  justify-content: center;
  padding-right: 10rem; }
  header .row .col-xl-4 .header__logo-sup {
    border: 1px solid;
    width: 150px;
    height: 150px; }

header .row .col-xl-8 .header__menu-sup {
  display: flex;
  justify-content: flex-end; }
  header .row .col-xl-8 .header__menu-sup ul {
    padding-right: 12rem;
    padding-top: 20px; }
    header .row .col-xl-8 .header__menu-sup ul li {
      display: inline-block;
      width: 120px;
      text-align: center;
      padding: 1rem;
      margin-left: 10px; }
      header .row .col-xl-8 .header__menu-sup ul li a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #151515;
        font-size: 18px; }
    header .row .col-xl-8 .header__menu-sup ul li:before {
      content: '';
      width: 0;
      border: .5px solid #151515;
      position: absolute;
      bottom: 5.5rem;
      margin-left: -.5rem;
      transition: .8s;
      opacity: 0; }
    header .row .col-xl-8 .header__menu-sup ul li:hover:before {
      width: 6rem;
      opacity: 1; }
