$light-blue-color: #EFF4FD;
$light-green-color: #EDFEE9;
$light-pink-color: #FCF1FB;
$black-color: #000;
$white-color: #fff;
$light-gray-color: #D1D1D1;
$red-color: #e71010;
$light-gray-color: #979595;
$color-primary-light:#8e9efc;
$color-primary-dark:#1c3eff;
